data
datadump
video*
__pycache__
LICENSE
bin/
cmake/
compiler_compat/
conda-meta/
doc/
etc/
fonts/
include/
lib/
libexec/
man/
mkspecs/
oam/
phrasebooks/
pkg-config/
plugins/
qml/
rocm_smi/
samples/
sbin/
share/
ssl/
translations/
var/
x86_64-conda-linux-gnu/
x86_64-conda_cos6-linux-gnu/
